<h1 mat-dialog-title>Create new contact</h1>
<div mat-dialog-content>
    <div>
        <div>
            <form [formGroup]='newContactForm' (ngSubmit)='onSubmit()'>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" formControlName="name" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required />
                    <div *ngIf="submitted && newContactForm.controls.name.errors" class="invalid-feedback">
                        <div *ngIf="newContactForm.controls.name.errors.required">Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="tel" formControlName="phone" class="form-control"
                        [ngClass]="{'is-invalid': submitted && newContactForm.controls.phone.errors}" required />
                    <div *ngIf="submitted && newContactForm.controls.phone.errors" class="invalid-feedback">
                        <div *ngIf="newContactForm.controls.phone.errors.required">Phone is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input type="email" formControlName="email" class="form-control"
                        [ngClass]="{'is-invalid': submitted && newContactForm.controls.email.errors}" required />
                    <div *ngIf="submitted && newContactForm.controls.email.errors" class="invalid-feedback">
                        <div *ngIf="submitted && newContactForm.controls.email.error.required">E-mail is required</div>
                    </div>
                </div>
                <button class="btn btn-primary">Create</button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </div>
    </div>

</div>