.fill-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}
.a{
   font-size: 14px;
}
.margin-15{
   margin:15px;
}